<form>
<div>
         <label>Patient name:
         <input #patientName />
         </label>

         <label>Patient status:
          <input #patientStatus />
        </label>

        <label>Patient drugs:
          <input #patientDrugs />
        </label>

        <label>Patient details:
          <input #patientDetails />
        </label>

        <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />

    <button (click)="add(patientName.value, patientStatus.value, patientDrugs.value, patientDetails.value); 
    patientName.value=''; patientStatus.value=''; patientDrugs.value=''; patientDetails.value=''">
      add
    </button>
</div>
</form>