<!-- <div *ngIf="!logged">
  <h1>Login form</h1>
  <p>Username: <input type="text" [(ngModel)]="username"></p>
  <p>Password: <input type="text" [(ngModel)]="password"></p>

  <button (click)="login()">Login</button>
</div>

<div class="wrapper" *ngIf="logged">
  <h1 class="header">Categories</h1>
    -->


<nav>
  <ul>
    <li><a routerLink="/personal-info/{{11}}">My Info</a></li>
    <li><a routerLink="/patients">Patients</a></li>
    <li><a routerLink="/add-patient">Add patient</a></li>
  </ul>
</nav>

<article>
  <router-outlet></router-outlet>
</article>

<!-- </div> -->

<footer>
  <p>Тех. поддержка по номеру XXXXXXX</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque modi quia repudiandae non esse deleniti sapiente labore! Soluta perferendis odit at dolor ipsam ea reprehenderit cumque doloremque hic similique?</p>
</footer>